<%= month_calendar attribute: :due_date, events: @homeworks do |date, homeworks| %>
  <%= date.day %>

  <% homeworks.each do |homework| %>
    <div>
      <%= link_to homework.name, homeworkshow_path(homework) %>
    </div>
  <% end %>
<% end %>
