<%= month_calendar attribute: :due_date, events: @homeworks do |date, homeworks| %>
  <%= date %>

  <% homeworks.each do |homework| %>
    <div>
      <%= homework.name %>
    </div>
  <% end %>
<% end %>   