<h1>Latte#info</h1>
<p>Find me in app/views/latte/info.html.erb</p>
<div class="alert alert-info" id="latte_alert" role="alert">
    <span><i class="fa fa-spinner fa-pulse fa-fw invi" id="latte_spinner"></i></span>
    <span><strong id="bar_status"></strong></span>&nbsp;
    <span id="progress"></span>
</div>
<div id="latte_info"></div>
