
<style>
table {
    border-collapse: separate;
    border-spacing: 20px 1px;
}
.card-inverse {
  height: 200px;
  width: 300px;
  border-radius: 25px;
  padding: 25px;
}
</style>
<br>
<table>
  <% @table.each do |hw| %>
    <tr>
      <% hw.each do |h| %>
      <td><div class="card card-inverse card-success">
        <div class="card-deck">
            <!-- <blockquote class="card-blockquote "> -->
              <div class="col-sm-4 link-to-text-color">
                <h3> <%=h.due_date.day-Time.new.day%> </h3>
              </div>
              <div class="col-sm-8 link-to-text-color">
                <h6>
                  <p>Name: <u><%= link_to(h.name, homeworkshow_path(h), :method => :get, class: 'link-to-text-color')  %></u></p>
                  <p>Professor: <%= h.professor%></p>
                  <p>Description: <%= h.description%></p>
                </h6>
              </div>
            <!-- </blockquote> -->
        </div>
      </div></td>
      <% end %>
    </tr>
  <% end %>
</table>
