<table class = "table table-striped">
  <tbody>
    <h3>Hi, <%= User.find_by_id(current_user.id).email%><h3>
    <% @my_hw.each do |hw| %>
      <p>
        <%= link_to hw.name, homeworkshow_path(hw) %>
      </p>
    <% end %>
  <tbody>
<table>
