<table class = "table table-striped">
  <tbody>
    <h3>Hi, <%= User.find_by_id(current_user.id).email%><h3>
    <% @hws.each do |_, value| %>
      <tr>
        <td>time left: <%= value[2] %></td>
        <td><button trype = "button" class = "btn btn-info"><%= value[0].name %></button></td>
      </tr>
    <% end %>
  <tbody>
<table>
  <!-- <div class="row">
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div> -->
