
<% if not @group.nil? %>

<div class="col-sm-12">
  <div class="card-header link-to-text-color" style="background-color: #2c3e50;">
    <h2><%= @group.year.to_s + "-" + @group.term + "-"+ @group.name + "-Section " + @group.section.to_s%></h2>
  </div>
    <div class="card card-block">
      <table class = "table">
        <tbody>

        </tbody>
      </table>
    </div>
  <%= %>
</div>

<% end %>
