<nav class="navbar navbar-dark navbar-fixed-top bg-faded" style="background-color: #2c3e50; height:60px;">
  <!-- <div class="container"> -->
  <div class="col-xs-1">
  </div>
    <div class="nav-header col-xs-2">
      <h1><bold><a href="/" class="navbar-brand"><h3>DueWiz</h3></a>
    </div>

    <% if user_signed_in? %>
    <form class="navbar-form col-xs-4">
      <button type="button" class="btn btn-sm btn-success float-shadow"  data-toggle="modal" data-target="#myModal" style = "background-color: #18bc9c">New Homework</button>
      <% #if has_latte? %>
      <button type="button" class="btn btn-sm btn-success float-shadow"  data-toggle="modal" data-target="#latteModal" style = "background-color: #18bc9c">Subscribe Latte</button>
      <%# end %>
    </form>
    <% end %>


    <div class="pull-xs-right">
      <% if user_signed_in? %>
      <div class="col-xs-1">
        <a href="#">
          <i class="fa fa-bell" style="color:white"></i>
        </a>
      </div>
      <div class="col-xs-1">
        <a href="#">
          <i class="fa fa-envelope" style="color:white"></i>
        </a>
      </div>
      <div class="col-xs-1">
        <%= link_to edit_user_registration_path do %>
          <i class="fa fa-cog" style="color:white"></i>
        <% end %>
      </div>

      <div class="col-xs-1" style="color:white">
        <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'link-to-text-color')  %>
      </div>
      <% else %>
      <div class="col-xs-1">
        <%= link_to('Login', new_user_session_path)  %>
      </div>
      <% end %>
    </div>
  <!-- </div> -->

</nav>
